<div class="products-content">
  <div class="products-filters">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Product
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Serch Product" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="products-list">
    <mat-card *ngFor="let product of products" class="products-card">
      <mat-card-header>
        <mat-card-title>{{ product?.product_name }}</mat-card-title>
        <mat-card-subtitle>{{
          product.product_price | currency
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.product_image" alt="card-image" />
      <mat-card-content>
        <p>
          {{ product.product_description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="space-between">
        <button
          mat-button
          color="primary"
          [routerLink]="['/product', product?.id]"
        >
          Details
        </button>

        <button mat-button color="accent" (click)="onEditProdut(product)">
          Edit
        </button>

        <button mat-button color="warn" (click)="onDeleteProduct(product?.id)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
