<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <span>Angular e-shop</span>

    <span class="spacer"></span>

    <mat-button-toggle-group>
      <mat-button-toggle class="nav-button" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span></mat-button-toggle
      >
      <mat-button-toggle class="nav-button" routerLink="/products">
        <mat-icon>store</mat-icon>
        <span>Products</span></mat-button-toggle
      >
      <mat-button-toggle class="nav-button" routerLink="/basket"
        ><mat-icon>shopping_basket</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
